* {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

body {
  background-color: rgb(99, 99, 99);
}

#saludo {
  color: rgb(124, 168, 207);
}

#cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 1rem;
  max-width: 1900px;
  margin: 0 auto;
  background-color: rgb(39, 39, 39);
}

.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(255, 21, 21, 0.1);
}

.card-img-top {
  max-height: 100%;
  max-width: 20rem;
  height: auto;
  object-fit: cover;
}

.card-body {
  align-content: center;
}

.botonCarrito {
  background-color: rgb(48, 48, 255);
  color: aliceblue;
  padding: 0.5rem;
  border-radius: 8px;
}
