* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(99, 99, 99);
}

.mainContainer {
  padding: 2rem;
}

#saludo {
  color: rgb(0, 81, 151);
}

#botonEliminar {
  background-color: rgb(255, 45, 45);
  color: #ffffff;
}

form label {
  padding: 0.5rem;
}

#cardsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  padding: 1rem;
  max-width: 1900px;
  margin: 0 auto;
  background-color: rgb(39, 39, 39);
}

#registroUsuario button {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 8px;
}

.cardsContainer button {
  background-color: rgb(48, 48, 255);
  color: aliceblue;
  padding: 0.5rem;
  border-radius: 4px;
}

.container-fluid {
  background-color: rgb(99, 99, 99);
}

.navbar-brand {
  color: rgb(0, 81, 151);
}
.card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 2px 2px 8px rgba(255, 0, 0, 0.616);
}

.card-img-top {
  max-height: 100%;
  max-width: 20rem;
  height: auto;
  object-fit: cover;
}

.card-body {
  align-content: center;
}

#cardsGrid {
  border-radius: 8px;
}

.botonCarrito {
  background-color: rgb(48, 48, 255);
  color: aliceblue;
  padding: 0.5rem;
  border-radius: 4px;
}
