:root {
  --Title: hsl(202, 100%, 43%);
  --BodyBlack: rgb(58, 58, 58);
}
* {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

body {
  background-color: var(--BodyBlack);
}

.tituloCarrito {
  color: var(--Title);
}

.container-fluid {
  background-color: var(--BodyBlack);
}

.navbar-brand {
  color: var(--Title);
}

#compras h3 {
  color: aliceblue;
}
